JWT_SECRET=replace_with_a_long_random_secret
PORT=your_port_number_here
DATABASE_DEV_URL=your_development_database_url_here
DATABASE_URL=your_production_database_url_here
JWT_ISSUER=Peartone API
JWT_AUDIENCE=Peartone Client
NODE_ENV=development
